---
layout: none
nav: true
---

<!DOCTYPE html>
<title>HaloHash</title>
<script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":false,"splashScreen": false};</script>
<style>
  .newstyke {
    top: 0px;
    right: 0px;
    position: sticky;
  }
  body, html {
    font-family: 'Trebuchet MS', 'Roboto', Arial, sans-serif;
  }
</style>
<div>Last Updated on {{ site.time | date: "%Y-%m-%d %H:%M:%S" }}</div>

<ul>
  {% for page in site.html_pages %}
    {% if page.title %}
      <li>
        <a href=".{{ page.url }}">
          {{ page.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
    <object width="640px" height="360" class="newstyke">
        <embed src="https://halohash.github.io/directv/filmstrip.v3.swf?filmstripxml=https%3a%2f%2fhalohash.github.io%2fnews.html" width="640px" height="360px"></embed>
    </object>

<noscript>
OOPS! You have to have javascript enabled for this webpage.
</noscript>